*.ofx
*.DS_Store
*.keep
*.rbc
*.sassc
*.swp
*.orig
.project
.rspec
.rvmrc
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/db/schema.rb
/log/*
/public/system/*
/public/uploads/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
config/database.yml
config/yp_credentials.yml
pickle-email-*.html
README.rdoc
rerun.txt
.env
.byebug_history
dump.rdb
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
yarn.lock

/db/*.sqlite3-journal


!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

/public/assets
.byebug_history


/config/master.key
